.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* ========================= */
/* LADOS */
/* ========================= */

.sideA,
.sideB {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.teamBoxContainerA {
    align-self: flex-start;
    margin-left: 45px;
}

.teamBoxContainerB {
    align-self: flex-end;
    margin-right: 45px;
}

.center {
    width: 2%
}

.sideA {
    border-right: 6px solid black;
}

.sideB {
    border-left: 6px solid black;
}

/* ========================= */
/* NOME DOS TIMES */
/* ========================= */

.teamBox {
    margin-top: 25px;

    min-width: 260px;
    max-width: 330px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    height: 130px;

    background: #f0f0f0;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.teamBoxContainerA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamBoxContainerB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========================= */
/* BANDEIRAS */
/* ========================= */

.flagContainer {
    margin-top: 30px;
}

.flag {
    width: 350px;
    height: 220px;

    object-fit: cover;

    border: 2px solid white;
}

/* ========================= */
/* GOLS */
/* ========================= */

.goalsContainerA,
.goalsContainerB {
    position: absolute;
    top: 500px;

    width: 500px;

    display: flex;
    flex-wrap: wrap;

    align-content: flex-start;
    gap: 10px;

    overflow: hidden;
}

.goalsContainerA {
    left: 30px;
}

.goalsContainerB {
    right: 30px;
}

.goalCard {
    width: 420px;

    background: #f5f5f5;
    border-radius: 18px;

    padding: 12px 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}

.goalCardCompact {
    padding: 6px 14px;
    font-size: 1rem;
}

.goalCardCompact strong {
    font-size: 1rem;
}

.goalCardMini {
    padding: 4px 10px;
    font-size: 0.8rem;
}

.goalCardMini strong {
    font-size: 0.8rem;
}

/* ========================= */
/* CENTRO */
/* ========================= */

.center {
    width: 20%;
    height: 100%;

    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========================= */
/* TIMER */
/* ========================= */

.timer {
    margin-top: 25px;

    width: 220px;
    height: 90px;

    background: #efefef;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    font-size: 4rem;
    font-weight: 400;

    color: black;
}

/* ========================= */
/* PLACAR */
/* ========================= */

.score {
    margin-top: 10px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    gap: 120px;
    z-index: 5;
}

.scoreA,
.scoreB {
    color: white;

    font-size: 25rem;
    font-weight: 900;

    line-height: 1;
}

.scoreSmall {
    font-size: 14rem !important;
}

.scoreCompact {
    top: 80px;
    gap: 10px;
}

/* ========================= */
/* LOGO */
/* ========================= */

.logoContainer {
    position: absolute;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 300px;
    height: fit-content;

    background: white;

    border: 3px solid black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.logo {
    width: 260px;
    max-width: 100%;
    object-fit: contain;
}

/* ========================= */
/* LOADING */
/* ========================= */

.loading {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
}

/* ========================= */
/* RESPONSIVO */
/* ========================= */

@media (max-width: 1366px) {

    .teamBox {
        font-size: 2.4rem;
        min-width: 220px;
        max-width: 280px;
        height: 110px;
    }

    .flag {
        width: 290px;
        height: 180px;
    }

    .scoreA,
    .scoreB {
        font-size: 20rem;
    }

    .timer {
        width: 210px;
        height: 90px;
        font-size: 4rem;
    }

    .logo {
        width: 180px;
    }

    .goalsContainerA,
    .goalsContainerB {
        top: 420px;
        width: 420px;
    }

    .goalCard {
        width: 350px;
        font-size: 1.4rem;
        padding: 10px 14px;
    }

    .goalCard strong {
        font-size: 1.4rem;
    }

    .goalCardCompact {
        font-size: 0.8rem;
        padding: 3px 8px;
    }

    .goalCardCompact strong {
        font-size: 0.8rem;
    }

    .goalCardMini {
        font-size: 0.5rem;
        padding: 2px 6px;
    }

    .goalCardMini strong {
        font-size: 0.5rem;
    }
}